#primary {
    padding-block: 1.25rem;
    display: flex;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3) {
        margin-left: auto;
    }

    strong {
        display: none;
    }

    div:nth-child(2) {
        img {
            width: 9rem;
        }
    }
}

#secondary {
    display: flex;
    padding-block: 0.875rem;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;

    a:nth-child(4),
    a:nth-child(5),
    a:nth-child(6),
    a:nth-child(7) {
        display: none; 
    }
}

@media (min-width: 80em) {
    #primary {
        strong {
            display: block;
        }

        div:nth-child(2) {
            img {
                width: auto;
            }
        }
    }

    #secondary {
        a:nth-child(4),
        a:nth-child(5),
        a:nth-child(6),
        a:nth-child(7) {
            display: inline; 
        }
    }
}
